@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


body {
  font-family: sans-serif, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;

}

/* Logo más grande */
.logo {
  height: 70px; 
  width: auto;
}

.nav-container {
  background-color: #3C64C9;
  padding: 20px 160px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Albert Sans', sans-serif;
}

/* Alinear enlaces al centro-derecha */
.nav-links {
  display: flex;
  gap: 40px; /* Más espacio entre enlaces */
  list-style: none;
  padding: 0;
  margin-left: auto; /* Empuja a la derecha */
}

/* Estilo de enlaces */
.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500; /* Más grueso para destacar */
  text-transform: capitalize; 
  font-size: 16px;
}

/* Hover para enlaces */
.hover-link:hover {
  text-decoration: none;
  color: #081e57; /* Color */
  font-family: 'Albert Sans', sans-serif;
}

/* Iconos alineados a la derecha */
.nav-icons {
  display: flex;
  gap: 40px;
  margin-left: 60px;
}

/* Estilo para los botones de íconos */
.icon-button {
  background: none;
  border: none;
  cursor: pointer;
}

/* Tamaño de los íconos */
.icon {
  width: 30px;
  height: 30px;
  color: #333;
}

/* PERFIL */
.profile-container {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-menu {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 150px;
}

.profile-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.profile-menu a:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}

/* Podcast  */
.ban {
  position: relative;
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  display: flex;  
  align-items: center; 
  justify-content: center; 
}

.button-podcast{
  position: absolute;
  bottom: 45px; /* Lo mueve hacia abajo */
  left: 250px; /* Lo mueve hacia la derecha */
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}
.episodios-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.episodio {
  width: 200px;
  height: 210px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.episodio img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
}

.episodio .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  text-align: center;
  padding: 10px;
}

.episodio:hover .overlay {
  opacity: 1;
}

.episodio button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #ff9900;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.episodio-info-box {
  position: absolute;
  bottom: 15%;
  right: 20%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reproductor {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #222;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
  height: 1px;}

.reproductor audio {
  width: 100%;
}


/*Home + Carrusel*/
.hero {
  position: relative;
  width: 100%; /* Asegura que el carrusel ocupe todo el ancho de su contenedor */
  height: 400px; /* Ajusta el alto que desees */
  overflow: hidden; /* Evita que las imágenes se salgan del contenedor */
}

.hero img {
  width: 100%; /* Hace que las imágenes se ajusten al contenedor */
  height: 100%; 
  object-fit: cover; /* Hace que la imagen mantenga su aspecto pero se recorte si es necesario */
}

.hero-button {
  position: absolute;
  left: 250px; 
  bottom: 50px; 
  padding: 20px 45px;
  background-color: #FFDB4A;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
}

.hero-button:hover {
  background-color: #0056b3;
}

.slick-dots {
  position: absolute;
  top: 345px;
  left: 50%;
  transform: translateX(-50%); /* Centra los puntos en el carrusel */
  display: flex;
  justify-content: center;
  gap: 10px; /* Espaciado entre los puntos */
}

/* Estilos para los puntos de navegación */
.slick-dots li button {
  width: 20px; /* Aumenta el tamaño del botón */
  height: 20px; /* Aumenta el tamaño del botón */
  border-radius: 50%; /* Hace que los puntos sean circulares */
  background-color: black; /* Fondo negro para todos los puntos inactivos */
  border: none; /* Elimina cualquier borde predeterminado */
  opacity: 0.5; /* Hace que los puntos inactivos sean más suaves */
}

/* Estilos para el punto activo */
.slick-dots li.slick-active button {
  background-color: white; /* Fondo blanco para el punto activo */
  opacity: 1; /* Asegura que el punto activo sea completamente visible */
}


/* CATEGORÍAS */
.categories {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.category {
  width: 180px;
  height: 180px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.category-box img {
  width: 100px; /* Ajusta según el tamaño deseado */
  height: auto; /* Mantiene la proporción */
  object-fit: contain; /* Asegura que la imagen no se deforme */
}

.category:hover {
  transform: scale(1.05);
  background-color: #e0f7fa;
}

.category img {
  width: 80px; /* Ajusta según sea necesario */
  height: auto;
  object-fit: contain;
  margin-bottom: 10px;
}

.university-info {
  background-color: #3C64C9; /* Fondo  */
  padding: 20px;
  text-align: center;
  margin-top: 50px;
  border-top: 2px solid #ccc; /* Línea superior para separar */
}

.university-info h3 {
  font-size: 10px;
  font-weight: bold;
  color: #ffffff;
}

.university-info p {
  font-size: 10px;
  margin: 5px 0;
  color: #ffffff;
}

.social-media {
  margin-top: 15px;
  color: #ffffff;
}

.social-media h4 {
  font-size: 10px;
  margin-bottom: 10px;
}

.social-media a {
  text-decoration: none;
  font-size: 10px;
  margin: 0 10px;
  color: #ffffff; /* Color-enlaces */
}

.social-media a:hover {
  text-decoration: underline; /* Subraya los enlaces al pasar el ratón */
}


/* ESTILOS PARA EL FORMULARIO DE INICIO DE SESIÓN */
.login-page {
  display: flex;
  height: 100vh; /* Ocupa toda la pantalla */
}

.login-container {
  width: 50%; /* Ocupa la mitad izquierda */
  max-width: none; /* Evita que se limite a 400px */
  margin: auto;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra el contenido verticalmente */

}

.login-image {
  width: 50%; /* Ocupa la mitad derecha */
  min-height: 100vh;
  background: url("/logouniautonoma.png") no-repeat center center;
  background-size: cover;
}

.login-container h2 {
  margin-bottom: 20px;
}

.login-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-container input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-container button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #0056b3;
}

/* Contenedor principal */
.contenido-proyectos {
  width: 90%;
  margin: auto;
  text-align: center;
}

/* Título */
.titulo-proyectos {
  font-size: 28px;
  font-weight: bold;
  margin: 20px 0;
  text-align: left;
}

/* Imagen de presentación */
.presentacion img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* Botón de ordenar */
.ordenar-btn {
  margin: 20px;
  padding: 10px;
  background-color: #f0d53d;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin-left: -1050px; /* Ajusta la posición */
}

/* Títulos de las categorías */
h2 {
  text-align: left;
  width: 100%;
  font-weight: bold;
}

/* Contenedor de categorías */
.categorias {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}

/* Cada categoría */
.categoria {
  background: #f3f3f3;
  padding: 20px;
  border-radius: 10px;
}

/* Contenedor de tarjetas */
.cards-container {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

/* Tarjetas */
.card {
  width: 150px;
  height: 150px;
  perspective: 1000px;
  cursor: pointer;
}

.card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.card-front {
  background: white;
}

.card-back {
  background: #3C64C9;
  color: white;
  text-align: center;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-back h3 {
  margin-bottom: 20px;
}

.card-back button {
  padding: 5px 10px;
  background-color: #121e3b;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card-back button:hover {
  background-color: white;
  color: black;
}

